*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: 0.5s;
  font-weight: 600;
  font-family: 'Lato',sans-serif;
  font-style: normal;
}


.btn{
  border-radius: 10px;
  background: beige;
  cursor: pointer;
  border: 0.5px solid lightgrey;
  width: 200px;

  &:hover{
    transform: scale(1.05);
    background: grey;
    color: beige;
  }

  &:active{
    transform: scale(.9);
  }


}


@import "src/components/Form/form";
@import "src/pages/Home/Aside/aside";
@import "src/pages/Home/home";